#anMusic-page
  #anMusicRefreshBtn(title="立即刷新最新歌单")
    i(class="anzhiyufont anzhiyu-icon-arrows-rotate")
  #anMusicSearchBox
    i.anzhiyufont.anzhiyu-icon-magnifying-glass.anMusic-search-icon
    input#anMusicSearchInput(type="text" placeholder="搜索歌单中的歌曲...")
  #anMusic-page-meting